@import url('https://fonts.googleapis.com/css?family=Poiret+One&display=swap&subset=cyrillic');
@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?52515255');
  src: url('../font/fontello.eot?52515255#iefix') format('embedded-opentype'), url('../font/fontello.woff?52515255') format('woff'), url('../font/fontello.ttf?52515255') format('truetype'), url('../font/fontello.svg?52515255#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0 10%;
  font-family: Arial, Helvetica, sans-serif;
}
#mob-nav {
  display: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.06);
  border: none;
  font-size: 50px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
}
#mob-nav:hover,
#mob-nav:active {
  outline: 0;
}
#mob-nav-close {
  display: none;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.06);
  border: none;
  font-size: 50px;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 15px;
  padding: 0;
  line-height: 0;
}
#mob-nav-close:hover,
#mob-nav-close:active {
  outline: 0;
}
header {
  background: rgba(10, 17, 42, 0.6);
  height: auto;
  min-width: 300px;
  border-left: 0.5px solid #ff2da8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
header .avatar {
  background: url(../img/avatar.png) no-repeat center;
  background-size: cover;
  width: 170px;
  height: 170px;
  margin: 0 auto;
}
header nav ul {
  padding: 0;
}
header nav ul li,
header .footer-link ul li {
  list-style-type: none;
}
header .footer-link ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 0px;
}
header .footer-link ul li {
  display: inline-block;
  margin: 0 auto;
}
header .footer-link ul li a {
  text-decoration: none;
  display: block;
  color: rgba(255, 255, 255, 0.33);
}
header .footer-link ul li a:hover,
header .footer-link ul li a:focus,
header .footer-link ul li a:active {
  color: #ff2da8;
}
header nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  height: 100px;
  font-size: 32px;
  padding-left: 50px;
  padding-right: 100px;
  box-sizing: border-box;
  border-left: 10px solid transparent;
  line-height: 3;
}
header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
header nav ul li .active-link {
  border-left: 10px solid #ff2da8;
  color: #ff2da8;
}
main {
  background: rgba(10, 17, 42, 0.9);
  height: 100vh;
  flex-grow: 10;
  border-right: 0.5px solid #ff2da8;
  padding-top: 50px;
  box-sizing: border-box;
  overflow-y: scroll;
}
main h1 {
  color: #ffffff;
  font-size: 45px;
  width: max-content;
  border-bottom: 3px solid #df358d;
  font-weight: unset;
  margin-top: 0;
}
section {
  padding-left: 55px;
  min-width: auto;
}
.about .container {
  margin-bottom: 40px;
}
.about .logo {
  color: #ffffff;
  font-size: 60px;
  font-family: 'Poiret One', cursive;
  margin-bottom: 0;
}
.about .logo span {
  color: #ff4ba8;
  font-weight: bolder;
}
.about .vacancy {
  color: #ff4ba8;
  font-size: 38px;
  margin-top: 20px;
}
.about .info {
  color: rgba(255, 255, 255, 0.58);
  font-size: 28px;
  line-height: 1.8;
}
.about a {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.06);
  border: none;
  width: 235px;
  height: 70px;
  font-size: 28px;
  outline: 0;
  margin-right: 40px;
  display: inline-block;
  text-decoration: none;
  line-height: 2.5;
  text-align: center;
  margin-bottom: 40px;
}
.about a:hover,
.about a:active {
  background: #ff4ba8;
}
.work .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 55px;
}
.work figure {
  width: 314px;
  height: auto;
  margin: 0;
  margin-bottom: 40px;
}
.work figure img {
  display: block;
  width: 312px;
  height: auto;
}
.work figure figcaption {
  margin-top: 20px;
}
.work figure a {
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
}
.work figure a:hover {
  text-decoration: underline;
}
.contact .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.contact .popover {
  width: 300px;
  height: 200px;
  background: #0a112a;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  color: #ffffff;
  border: 1px solid rgba(255, 45, 168, 0.9);
  box-sizing: border-box;
  padding-top: 70px;
}
.contact .popover span {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #ff2da8;
}
.contact .popover p {
  width: 70%;
  margin: 0 auto;
  font-size: 20px;
}
.contact .form {
  margin-right: 55px;
}
.contact .form fieldset {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.contact .form legend {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
.contact .form textarea {
  width: 100%;
  height: 30vh;
  resize: none;
}
.contact .form textarea,
.contact .form input {
  background: rgba(30, 26, 52, 0.33);
  border: 1px solid rgba(255, 255, 255, 0.33);
  color: rgba(255, 255, 255, 0.33);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 10px;
}
.contact .form textarea:focus,
.contact .form input:focus {
  color: #ffffff;
  outline: 1px solid #ffffff;
}
.contact .form input {
  width: 48%;
}
.contact .form input[type="submit"] {
  color: #ffffff;
  background: #ff4ba8;
  border: none;
}
.contact .form input[type="submit"]:hover {
  background: rgba(255, 75, 168, 0.8);
}
.contact .form input[type="submit"]:active {
  background: rgba(255, 75, 168, 0.5);
}
::-webkit-scrollbar-button {
  width: 10px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background-color: #ff2da8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ff2da8;
}
::-webkit-resizer {
  width: 4px;
  height: 0px;
}
::-webkit-scrollbar {
  width: 10px;
  margin-right: 1px;
}
.dont-show {
  display: none;
}
.show-close-btn {
  display: block;
  z-index: 1;
}
.lang-picker {
  position: absolute;
  top: 10px;
  left: 10px;
}
.lang-picker li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.33);
  cursor: pointer;
}
.lang-picker li.selected {
  color: #ff2da8;
}
.icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  font-size: 40px;
}
.mob-nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0a112a;
}
@media screen and (max-width: 1100px) {
  .about button {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    padding: 0 0;
  }
  .lang-picker {
    padding-left: 0;
  }
  .contact .flex {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .contact form input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 780px) {
  header {
    display: none;
  }
  #mob-nav {
    display: block;
  }
}
@media screen and (max-width: 400px) {
  section {
    padding-left: 25px;
  }
  .about .logo {
    font-size: 50px;
  }
  .about .vacancy {
    font-size: 36px;
  }
  .about button {
    width: 220px;
    height: 60px;
    font-size: 26px;
  }
  .work figure {
    width: 250px;
    height: auto;
  }
  .work figure img {
    display: block;
    width: 248px;
    height: auto;
  }
}
